<tr>
          <th>
            Ciclo
          </th>
          <td>
            {{'ciclo'}}
          </td>
          <th>
            NRC
          </th>
          <td>
            {{'nrc'}}
          </td>
        </tr>
        <tr>
          <th>
            Seccion
          </th>
          <td>
            {{'seccion'}}
          </td>
          <th>
            Clave de la materia
          </th>
          <td>
            {{'clave'}}
          </td>
        </tr>
        <tr>
          <th>
            Materia
          </th>
          <td colspan="3">
            {{'materia'}}
          </td>
        </tr>
        <tr>
          <th>
            Maestro
          </th>
          <td colspan="3">
            {{'maestro'}}
          </td>
        </tr>
        <tr>
          <th>
            <h2>Horario</h2>
          </th>
        </tr>
        <tr>
          <th>Dia</th>
          <th>Horario</th>
          <th>Horas</th>
        </tr>
        {{'inicia-horario'}}
        <tr>
          <td>{{'dia'}}</td>
          <td>{{'inicio'}}:{{'fin'}}</td>
          <td>{{'horas'}}</td>
        </tr>
        {{'termina-horario'}}
        <tr>
          <td><button onclick="Agregar_aCurso(this)" class="btn btn-primary btn-block">Agregar</button></td>
          <td><button onclick="Cancelar_aCurso(this)" class="btn btn-primary btn-block">Cancelar</button></td>
        </tr>