  <body>
    <section class="relleno">
        <div class="menu-top">
            {{'menu'}}
        </div>
    </section>
    <form method="post" action="index.php?ctrl=student&act=add" class="form-horizontal" role="form">
        <div class="container" id="contenedor_med">
        <h2>Datos del Estudiante</h2>
        <table class="table">
            <tr>
                <td><label>Codigo</label><input name="studentid" type="text" class="form-control" placeholder="Codigo" autofocus required/></td>
                <td colspan="3">
                    <label>Carrera</label>
                    <select name="career" type="text" class="form-control"/>
                        {{'select_carrera'}}
                    </select>
                </td>
                <td><label>Fecha de Nacimiento</label> <input type="date" class="form-control" id="nacimiento" name="nacimiento" value="2000-01-01"/></td>
            </tr>
            <tr>
                <td colspan="3"><label>Nombre(s)</label><input name="name" type="text" class="form-control" placeholder="Nombres(s)" required/></td>
                <td><label>Paterno</label><input name="first" type="text" class="form-control" placeholder="Paterno" required/></td>
                <td><label>Materno</label><input name="second" type="text" class="form-control" placeholder="Materno" required/></td>
            </tr>
            <tr>
                
            </tr>
            <tr>
                <td colspan="3"><label>Correo</label><input type="email" class="form-control" name="email" placeholder="Correo" required/></td>
                <td colspan="2"><label>Pagina Web</label><input type="text" name="web" class="form-control" placeholder="Web"/></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td ><label>Github</label><input type="text" name="github" class="form-control" placeholder="Github"/></td>
                <td><label>Celular</label><input type="tel" name="cellphone" class="form-control" placeholder="Celular"/></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button></td>
                <td></td>
            </tr>
        </table>
        </div>
     </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>