<body onload="get_nrc();">
    <section class="relleno">
        <div class="menu-top">
            {{'menu'}}
        </div>
    </section>
  <form method="post" action="index.php?ctrl=course&act=viewcourse" class="form-horizontal" role="form">
  <div class="container table-responsive" id="contenedor_peq">
		<h2>Buscar Curso</h2>
      <table class="table">
        <tr>
          <th>Maestro</th>
        </tr>
        <tr>
          <td colspan="3">
                {{'select_maestros'}}
          </td>
        </tr>
        <tr>
            <td colspan="2">
                <label for="ciclo">Ciclo</label>
                <select onchange="get_nrc()" onblur="get_nrc()" id="ciclo" name="ciclo" type="text" class="form-control"/>
                  {{'ciclo'}}
                </select>
              </form>
            </td>
            <td>
              <label for="txtnrc">Escribe NRC</label>
              <input onkeyup="nrc_input(this)" onblur="nrc_input(this)" type="text" class="form-control" id="txtnrc"  maxlength="5"></input>
            </td>
            <td>
              <label for="nrc">NRC</label>
              <select onchange="nrc_select(this)" onblur="nrc_select(this)" id="selnrc" name="nrc" type="text" class="form-control"/>
              </select>
            </td>
        </tr>
      </table>
      <table class="table"> 
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-primary btn-block" type="submit">Buscar</button></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
  </div>
  </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
  </body>