<body>
    <section class="relleno">
        <div class="menu-top">
            {{'menu'}}
        </div>
    </section>
	<div class="container" id="contenedor_peq">
		<h2>Rubros del Curso</h2>
       <table class="table table-responsive table-striped">
        {{'inicia-rubro'}}
        <tr>
          <td> {{'actividades'}} </td>
          <td> {{'porcentaje'}} </td>
        </tr>
        {{'termina-rubro'}}
       </table>
   	</div>
    <form method="post" action="index.php?ctrl=course&act=viewcourse" class="form-horizontal" role="form">
      <input type="hidden" name="nrc" value="{{'nrc'}}"/>
      <input type="hidden" name="ciclo" value="{{'ciclo'}}"/>
    <div class="container" id="contenedor_peq">
      <table class="table table-responsive">
          <tr>
            <td></td>
            <td></td>
            <td><button class="btn btn-primary btn-block" type="submit">Regresar</button></td>
            <td></td>
            <td></td>
          </tr> 
      </table>
    </div>
    </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/ajax.js"></script>
  </body>